@keyframes frameFall {
  0% {
    transform: translateY(-100%); /* Start from above */
  }
  100% {
    transform: translateY(100%); /* End at the bottom of the screen */
  }
}

@keyframes fallingCoins {
  0% {
    opacity: 0; /* Start as invisible */
  }
  100% {
    opacity: 1; /* End as visible */
  }
}

/* src/styles.css */

/* Custom breakpoint: 1280px → 1439px */
@media (min-width: 980px) and (max-width: 1239px) {
  h1.hero-text {
    font-size: 48px !important; /* Shrinks heading */
    line-height: 1.2 !important;
  }

  p.hero-subtext {
    font-size: 18px !important;
  }

  img.hero-phone {
    max-height: 700px !important;
  }
}
